.heading{
    margin: 10px;
    font-size: 30px;
    font-weight:550;
    color: rgb(255, 255, 255);

}
.note{
    margin: 10px;
    font-size: 22px;
    font-weight: 100;
    color: white;
}
body{
    background-size:cover;
}